/* style.css */

:root
{
    --color1: #157887;
    --color2: #2afc98ff;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.125rem;
    font-family: Roboto, Verdana, 'Courier New';
}

body
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}

.dashboard
{
    grid-row: 1 / 3;
    background-color: var(--color1);
    color: white;
}

.dashboard .dash-container
{
    display: grid;
    grid-template-rows: 3rem repeat(5, 2rem) 3rem repeat(3, 2rem);
    padding: 1em;
    height: 60%;
}
.dashboard .dash-container .dash-header,
.dashboard .dash-container .dash-item
{
    display: grid;
    grid-template-columns: 40px 1fr;
}
.dashboard .dash-container .dash-header img
{
    justify-self: center;
}
.dashboard .dash-container .dash-header p
{
    font-size: 1.5rem;
}
.dashboard .dash-container .dash-item img
{
    justify-self: center;
}

.header
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.header .search
{
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
    align-items: center;
}
.header .search input[type="text"]
{
    width: 80%;
    border-radius: 1rem;
    background-color: rgb(235, 235, 235);
    border: none;
    font-size: 0.7rem;
    padding: 0.3rem;
}
.header .user
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;
    gap: 2rem;
}
.header .user .pfp-small
{
    border-radius: 1rem;
}
.header .greeting
{
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 1rem;
}
.header .greeting .pfp-big
{
    grid-row: 1 / 3;
    justify-self: flex-start;
}
.header .greeting .pfp-big
{
    place-self: center;
    border-radius: 50%;
}
.header .greeting p
{
    align-self: center;
    padding-left: 1rem;
}
.header .greeting .greet
{
    font-size: 0.8rem;
}
.header .greeting .big-name
{
    font-size: 2rem;
    font-weight: bold;
}

.header .buttons
{
    display: flex;
    height: 2.5rem;
    align-self: center;
    justify-self: flex-end;
    gap: 1rem;
    margin-right: 2rem;
}
.header .buttons button
{
    padding: 0.5rem;
    border-radius: 2rem;
    width: 6rem;
    font-size: 1rem;
    border: none;
    background-color: var(--color1);
    color: white;
}

.content
{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.content .your-projects
{
    margin: 1rem;
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
}
.content .your-projects h1
{
    margin-bottom: 1rem;
}
.content .your-projects .projects
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-template-rows: repeat(2, minmax(10rem, 1fr));
    gap: 1rem;
}
.content .your-projects .projects .card
{
    background-color: antiquewhite;
    padding: 1rem;
    border-radius: 1vw;
}
.card .card-container
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: 100%;
}
.card .card-container .card-desc
{
    font-size: 0.8rem;
}
.card .card-container .card-buttons
{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.announcements
{
    padding: 1rem;
}
.announcements .announce-contents
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.announcements .announce-box
{
    background-color: bisque;
    font-size: 0.8rem;
    padding: 1rem;
    border-radius: 5%;
    max-width: 75ch;
    min-width: 45ch;
}
.announcements .announce-box .announce-item
{
    font-size: inherit;
    padding: 0.5rem;
}
.announcements .announce-box .announce-item h3,
.announcements .announce-box .announce-item p
{
    font-size: inherit;
}

.trending
{
    padding: 1rem;
}
.trending .trending-box
{
    background-color: gainsboro;
    padding: 1rem;
    border-radius: 5%;
    display: grid;
    gap: 1rem;
    font-size: 0.8rem;
}
.trending .trending-box .trending-item
{
    display: grid;
    grid-template-columns: 2.5rem auto;
    grid-template-rows: 1fr 1fr;
    font-size: inherit;
}
.trending .trending-box .trending-item h3,
.trending .trending-box .trending-item p,
.trending .trending-box .trending-item .pfp
{
    font-size: inherit;
    margin: 0.2rem;
}
.trending .trending-box .trending-item .pfp
{
    background-color: red;
    grid-row: 1 / 3;
}